#colorPick {
	background: rgba(0, 0, 0, 0.85);
}

#colorPick span {
	color: rgba(255, 255, 255, 0.6);
}

.customColorHash {
	border: 1px solid rgba(255, 255, 255, 0.2);
}

.colorPickDummy {
	background: rgba(255, 255, 255, 0.2);
	border: 1px dashed rgba(255, 255, 255, 0.2);
}
